@charset "ISO-8859-1";


body {
	background-color:#d2a679;
}	

header {
	background-color:#009900;
	text-align:center;
	height:70px;
}

table, th, td {
	text-align:center;
	width: 500px;
	border:solid !important;
	border-collapse:collapse;	
}
div.mainColumn {
	position:fixed;
	top:100px;
	left:400px;
}